<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Push2Run.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <Push2Run.MySettings>
      <setting name="AlwaysOnTop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ApplicationVersion" serializeAs="String">
        <value>not yet set</value>
      </setting>
      <setting name="ColumnWidthDescription" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ColumnWidthListenFor" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ColumnWidthOpen" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ColumnWidthStartIn" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CheckForUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdateFrequency" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MainWindowSize" serializeAs="String">
        <value>700, 450</value>
      </setting>
      <setting name="PushBulletAPI" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowPush2RunAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartBossAsAdministratorByDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartBossOnLogon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ViewDescription" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewListenFor" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewOpen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewParameters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NextVersionCheckDate" serializeAs="String">
        <value />
      </setting>
      <setting name="PushBulletTitleFilter" serializeAs="String">
        <value />
      </setting>
      <setting name="MyUniqueID" serializeAs="String">
        <value />
      </setting>
      <setting name="SortByDescription" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewStartIn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewAdmin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColumnWidthParameters" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="ColumnWidthAdmin" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="UACLimit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfirmExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfirmRedX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfirmDelete" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstTimeRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ViewFilters" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoScroll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewStartingWindowState" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColumnWidthStartingWindowState" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ColumnWidthKeysToSend" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="ViewKeysToSend" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PushoverSecret" serializeAs="String">
        <value>not available</value>
      </setting>
      <setting name="PushoverID" serializeAs="String">
        <value>not available</value>
      </setting>
      <setting name="PushoverDeviceName" serializeAs="String">
        <value>not available</value>
      </setting>
      <setting name="PushoverDeviceID" serializeAs="String">
        <value>not available</value>
      </setting>
      <setting name="PushoverUserID" serializeAs="String">
        <value />
      </setting>
      <setting name="UsePushbullet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsePushover" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastRequesttoKeepPushbulletToKeepAccountActive" serializeAs="String">
        <value>1066-10-14</value>
      </setting>
      <setting name="CompetingPushThreshold" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="DropboxPath" serializeAs="String">
        <value>not available</value>
      </setting>
      <setting name="DropboxFileName" serializeAs="String">
        <value>Command.txt</value>
      </setting>
      <setting name="DropboxDeviceName" serializeAs="String">
        <value>not available</value>
      </setting>
      <setting name="UseDropbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportExportDirectory" serializeAs="String">
        <value>c:\</value>
      </setting>
      <setting name="LastDownload" serializeAs="String">
        <value>1066-10-14</value>
      </setting>
      <setting name="SkipUpdateFor" serializeAs="String">
        <value>do not skip update</value>
      </setting>
      <setting name="ImportTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportOnByDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImportConfirmation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SeparatingWords" serializeAs="String">
        <value>and, then</value>
      </setting>
      <setting name="ShowNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNotificationSource" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeDisconnectAndReconnect" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNotificationResult" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMQTT" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MQTTBroker" serializeAs="String">
        <value />
      </setting>
      <setting name="MQTTUser" serializeAs="String">
        <value />
      </setting>
      <setting name="MQTTPassword" serializeAs="String">
        <value>not available</value>
      </setting>
      <setting name="MQTTPort" serializeAs="String">
        <value>1883</value>
      </setting>
      <setting name="MQTTFilter" serializeAs="String">
        <value>#</value>
      </setting>
      <setting name="SuppressStartupNotice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SandboxMessageHasBeenShown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WeclomeMessageHasBeenShown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ViewDisabledCards" serializeAs="String">
        <value>True</value>
      </setting>
    </Push2Run.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.7.0" newVersion="2.3.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>